---
import type { HTMLAttributes } from 'astro/types';
import { Picture } from 'astro:assets';

interface Props extends HTMLAttributes<'header'> {
  description: string,
  heading: string,
  image?: {
    alt: string | null,
    src: ImageMetadata
  }
};

const { heading, image }: Props = Astro.props;
---

<header class="relative flex flex-col">
  { image && (
    <div class="-z-1 absolute inset-0 -mx-4 md:-mx-16 -mt-4 md:-mt-32">
      <Picture
        src={image.src as any}
        widths={[480, 960]}
        sizes={`(max-width: 640px) 480px`}
        inferSize
        formats={['webp']}
        loading="lazy"
        class="object-cover aspect-video mask-b-from-60% mask-x-from-40%"
        alt={image.alt ?? ''}
      />
    </div>
  )}

  <div class="flex flex-col mt-48">
    <h1 class="text-3xl md:text-5xl font-semibold font-serif text-shadow-sm text-shadow-black">
      {heading}
    </h1>
  </div>
</header>
