---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"li"> & {
  description: string;
  heading: string;
  preview?: URL;
  github: URL;
  version: string;
};

const { description, heading, github, preview, version } = Astro.props;
---

<li>
  <a class:list={["group/card flex grow gap-2 sm:gap-4"]} href={github}>
    <span aria-hidden="true">&gt;&gt;</span>

    <div class="flex grow flex-col gap-2 text-sm">
      <h2 class="text-bold text-lg group-hover/card:underline">
        {heading}
      </h2>
      <p>{description}</p>
    </div>
  </a>
</li>
