---

---

<div class="relative mt-4 flex h-80 justify-center overflow-hidden">
  <pre
    id="ascii-cube"
    class="letter-spacing-[2px] pointer-events-none absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-mono text-[11px] leading-none whitespace-pre text-pink-400"
    aria-hidden="true">
  </pre>
</div>

<script>
  import { ASCIICube } from "~/scripts/animations/asciiCube";

  function initASCIICube() {
    const el = document.getElementById("ascii-cube");

    if (el) {
      const cube = new ASCIICube(el);
      cube.animate();
    }
  }

  document.addEventListener("astro:page-load", initASCIICube);
</script>
