---
import type { CollectionEntry } from "astro:content";
import { getPosts } from "~/scripts/collections/posts";
import { collectionsConfig } from "~/site.config";
import Base from "~/layouts/Base.astro";
import Article from "~/layouts/Article.astro";
import RecentPosts from "~/components/blog/RecentPosts.astro";

type Props = {
  entry: CollectionEntry<"posts">;
};

export async function getStaticPaths() {
  const entries = await getPosts();
  return entries.map((entry) => ({
    params: { posts: collectionsConfig.permalink_posts_entry, entry: entry.data.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<Base type="article" title={entry.data.title} description={entry.data.description} entry={entry}>
  <Article entry={entry} />

  <aside class="mb-8 flex flex-col gap-4 sm:mb-16 sm:gap-8">
    <h2 class="text-xl font-bold lowercase">Recent posts</h2>
    <RecentPosts max={3} />
  </aside>
</Base>
