@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: "Noto Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Noto Sans Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  /* test remove */
  h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-xl);
  }

  input:focus {
    --tw-ring-color: oklch(82.3% 0.12 346.018) !important;
  }
}

@layer components {
  .container {
    max-width: 768px !important;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@layer utilities {
  @keyframes typing {
    0% {
      width: 0ch;
    }
    100% {
      width: 13ch;
    }
  }

  @keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .animate-typing {
    animation: typing 2s steps(13) forwards;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 0ch;
  }

  .animate-blink {
    animation: blink 0.7s step-end infinite;
  }
}
