---
import Base from "~/layouts/Base.astro";
import ChatAssistant from "~/components/about/ChatAssistant.jsx";
---

<Base title="about" description="about page">
  <section class="mt-8 flex flex-col gap-4 sm:mt-16">
    <h1 class="text-2xl font-bold lowercase">About me</h1>
    <p class="lowercase">Ask my AI assistant anything you'd like to know.</p>
    <ChatAssistant client:load />
  </section>
</Base>
