---
import { Picture } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Base from '~/layouts/Base.astro';
import RecentEntriesList from '~/components/collections/RecentEntriesList.astro';
import Image from '~/assets/timur-kozmenko-GS84KG8yNDo-unsplash.jpg';
---

<Base
  title="Home"
  description="Hey, I'm Karl. I write, build cool web things, and share whatever I'm learning or thinking about."
>

<div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-[1fr_368px_368px_1fr] gap-4 md:gap-8 mt-4 mb-8 md:min-h-[calc(100vh-126px)]">

  {/* 1st Card */}
  <div class="relative col-span-1 md:col-span-4 lg:col-span-3 flex flex-col justify-center items-start lg:items-end p-4 lg:p-0 lg:py-8 mr-4 lg:mr-6 gap-4 rounded-r-xl bg-neutral-900 overflow-hidden hover:shadow-sm transition duration-300">
    <div class="absolute right-0 w-2/3 saturate-25 hue-rotate-290 mix-blend-hard-light opacity-50">
      <Picture
        src={Image}
        alt="none"
        widths={[480, 960]}
        sizes={`(max-width: 640px) 480px`}
        formats={['webp']}
        loading="eager"
        class=" md:mask-l-from-25% opacity-75"
      />
    </div>
    <section class="flex flex-col gap-8 lg:w-[728px] z-5">
      <h1 class="flex md:mb-4 text-4xl md:text-7xl font-mono font-semibold">
        <span class="animate-typing">Hello, World!</span>
        <span class="animate-blink" aria-hidden="true">|</span>
      </h1>
    </section>
  </div>

  {/* Dummy */}
  <div class="hidden lg:block"></div>

  {/* Dummy */}
  <div class="hidden lg:block"></div>

  {/* 2nd Card */}
  <div class="md:col-span-2 lg:col-span-1 md:row-span-2 flex flex-col gap-2 p-4 md:p-0 md:pl-4 ml-4 lg:ml-0 rounded-l-xl md:rounded-xl bg-neutral-800 md:bg-transparent ">
    <h2 class="text-2xl font-semibold pb-2 border-b-2 border-neutral-600">Latest posts</h2>
    <RecentEntriesList contentCollection='posts' maxEntries={4} />
  </div>

  {/* 3rd Card */}
  <a href={`${Astro.site}code/react-pokedex`} class="group/card md:col-span-2 flex flex-col justify-end ml-auto mr-4 sm:ml-0 md:mr-auto bg-neutral-800 rounded-r-xl md:rounded-xl">
    <div class="md:max-w-[344px] flex justify-between gap-2 p-4 bg-neutral-50/25 rounded-r-xl md:rounded-none md:rounded-b-xl group-hover/card:backdrop-blur-xs group-focus/card:bg-pink-300 group-focus/card:outline-2 group-focus/card:text-black transition duration-300">
      <div class="flex flex-col gap-2">
        <h2 class="mr-auto text-2xl font-semibold leading-none border-b-2 border-transparent group-hover/card:border-neutral-50 group-focus/card:border-neutral-900 transition duration-300">Featured project</h2>
        <p class="md:text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius</p>
      </div>
      <Icon name="ri:arrow-right-line" height={24} width={24} class="min-w-8 md:self-center"/>
    </div>
  </a>

  {/* 4th Card */}
  <a href={`${Astro.site}code`} class="relative group/card md:col-span-2 flex flex-col justify-end ml-4 md:ml-0 rounded-l-xl bg-neutral-800 overflow-hidden transition duration-300">
    <div class="absolute left-0 w-2/3 ">
      <Picture
        src="https://images.unsplash.com/photo-1687603921109-46401b201195?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="none"
        inferSize
        widths={[480, 960]}
        sizes={`(max-width: 640px) 480px`}
        formats={['webp']}
        loading="lazy"
        class="object-cover w-full md:mask-r-from-25% opacity-50"
      />
    </div>

    <div class="z-5 md:max-w-[344px] flex justify-between gap-2 p-4 bg-neutral-800/75 rounded-l-xl md:rounded-tr-xl md:rounded-tl-none group-hover/card:backdrop-blur-xs group-focus/card:bg-pink-300 group-focus/card:outline-2 group-focus/card:text-black transition duration-300">
      <div class="flex flex-col gap-2">
        <h2 class="mr-auto text-2xl font-semibold leading-none border-b-2 border-transparent group-hover/card:border-neutral-50 group-focus/card:border-neutral-900 transition duration-300">View all projects</h2>
        <p class="md:text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, dolor sit sed do eius</p>
      </div>
      <Icon name="ri:arrow-right-line" height={24} width={24} class="min-w-8 md:self-center"/>
    </div>
  </a>
</div>

</Base>

