---
import Base from "~/layouts/Base.astro";
import RecentPosts from "~/components/blog/RecentPosts.astro";
---

<Base title="index" description="index">
  <h1 class="sr-only">index</h1>
  <section class="mx-auto mt-8 flex flex-col gap-4 sm:mt-16">
    <h2 class="text-xl font-bold">tl;dr</h2>
    <ul class="ml-2">
      <li>~ Interested in web development, languages & open source.</li>
      <li>
        ~ Project Coordinator @ <a
          href="https://www.itineris.co.uk/"
          class="underline hover:bg-pink-200 hover:text-black hover:decoration-0"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="open Itineris in a new tab">Itineris</a
        >
      </li>
      <li>
        ~
        <a
          href="https://www.openstreetmap.org/#map=14/51.89461/0.90440"
          class="underline hover:bg-pink-200 hover:text-black hover:decoration-0"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="open location on OSM">51.8896903, 0.8994651</a
        >
      </li>
    </ul>
    <p>
      If you'd like to know more check out my <a
        href="/blog"
        class="underline hover:bg-pink-200 hover:text-black hover:decoration-0">blog</a
      > or
      <a href="/about" class="underline hover:bg-pink-200 hover:text-black hover:decoration-0"
        >ask my AI assistant</a
      >.
    </p>

    <section class="mt-8 flex flex-col gap-4">
      <h2 class="text-xl font-bold lowercase">Latest updates</h2>
      <RecentPosts max={3} />
    </section>
  </section>
</Base>
