---
import { Image } from 'astro:assets';
import HeaderNavigation from '~/components/partials/HeaderNavigation.astro';
import HeaderToolbar from '~/components/partials/HeaderToolbar.astro';
---

<header id="site-header" class="sticky inset-0 md:top-4 z-50 relative container flex md:grid md:grid-cols-3 justify-between p-2 md:pr-4 md:mt-4 bg-black/75 hover:bg-neutral-900 focus-within:bg-neutral-900 md:rounded-xl transition duration-600">
  <a class="group/logo flex flex-row items-center gap-4 px-2 w-fit font-medium text-xl focus:bg-pink-300 border-b-2 border-transparent focus:border-black rounded-md transition duration-300" href={Astro.site} aria-label="link to homepage">
    <Image src="/favicon.svg" alt="" format="svg" width={32} height={32} loading="eager" />
    <span class="border-b-2 border-transparent group-hover/logo:border-neutral-50 group-focus/logo:border-black group-focus/logo:text-black transition duration-300">karlsblog.dev</span>
  </a>
  <HeaderNavigation />
  <HeaderToolbar />
</header>

<script>
  // @ts-nocheck
  function initHeaderScrollHide() {
    const header = document.getElementById('site-header');
    let lastScrollY = window.scrollY;
    let isScrolling = false;

    window.addEventListener('scroll', () => {
      const focusedElement = document.querySelector(':focus');
      
      if (focusedElement) {
          focusedElement.blur();
          document.body.focus();
      }

      if (!isScrolling) {
        window.requestAnimationFrame(() => {
          const currentScrollY = window.scrollY;

          if (currentScrollY > lastScrollY) {
            header.classList.add('-translate-y-[150%]');
          } else {
            header.classList.remove('-translate-y-[150%]');
            header.classList.add('hover:shadow-sm');
          }

          if (currentScrollY === 0) {
            header.classList.remove('hover:shadow-sm', 'shadow-sm');
          }

          lastScrollY = currentScrollY;
          isScrolling = false;
        });
        isScrolling = true;
      }
    });
  };
  document.addEventListener('DOMContentLoaded', initHeaderScrollHide);
  document.addEventListener('astro:after-swap', initHeaderScrollHide);
</script>
