---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"form"> & {
  siteKey?: string;
};

const { siteKey = "0x4AAAAAADn4XAqG6smz2nm3" } = Astro.props;
---

<form
  id="contact-form"
  name="contact-form"
  class="grid w-full grid-cols-1 gap-2 sm:grid-cols-2"
  data-netlify="true"
>
  {siteKey && <input type="hidden" name="captcha" value="turnstile" />}

  <input type="text" name="website" class="hidden" tabindex="-1" autocomplete="off" />

  <div class="flex flex-col gap-2">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" required />
  </div>

  <div class="flex flex-col gap-2">
    <label for="email">Email</label>
    <input id="email" type="email" name="email" required />
  </div>

  <div class="flex flex-col gap-2 sm:col-span-2">
    <label for="subject">Subject</label>
    <input id="subject" type="text" name="subject" required />
  </div>

  <div class="col-span-1 flex flex-col gap-2 sm:col-span-2">
    <label for="message">Message</label>
    <textarea id="message" name="message" required class="min-h-40"></textarea>
  </div>

  {siteKey && <div class="cf-turnstile my-4 sm:col-span-2 [&>div]:flex" data-sitekey={siteKey} />}

  <div class="flex sm:col-span-2">
    <button
      type="submit"
      class="cursor-pointer text-lg leading-4.5 underline hover:bg-pink-200 hover:text-black hover:decoration-0"
    >
      Submit &gt;&gt;
    </button>
  </div>

  <div id="feedback" class="sm:col-span-2" role="alert" aria-live="polite" aria-atomic="true"></div>
</form>

{siteKey && <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer />}

<style>
  @reference "~/styles/global.css";

  input,
  textarea {
    @apply border p-2 dark:border-white;
  }
</style>
