---
import { socialLinks } from "~/site.config";
import ScrollToTop from "~/components/ui/a11y/ScrollToTop.astro";
import IconBtn from "~/components/ui/buttons/IconBtn.astro";
import ThemeBtn from "~/components/ui/buttons/ThemeBtn.astro";
---

<footer
  id="site-footer"
  class="mx-auto mt-8 mb-8 flex max-w-xl items-center justify-between gap-4 border-t p-4 sm:mt-16 sm:gap-8"
>
  <ul id="footer-toolbar" class="flex gap-4 sm:flex-row">
    <li>
      <ScrollToTop />
    </li>
    <li>
      <ThemeBtn />
    </li>
  </ul>
  <ul class="flex items-center gap-4">
    {
      socialLinks.map((item) => (
        <li>
          <IconBtn
            href={item.href}
            label={item.label}
            icon={item.icon}
            iconSize={18}
            openNewTab={true}
          />
        </li>
      ))
    }
  </ul>
</footer>
