---
import { Icon } from "astro-icon/components";
import ScrollToTop from "~/components/ui/a11y/ScrollToTop.astro";
import ThemeBtn from "~/components/ui/buttons/ThemeBtn.astro";

const socialLinks = [
  {
    href: "https://www.linkedin.com/in/karlmantle/",
    icon: "simple-icons:linkedin",
    label: "Visit my LinkedIn",
  },
  {
    href: "https://github.com/karl-mantle/",
    icon: "simple-icons:github",
    label: "Visit my GitHub",
  },
  {
    href: "/rss.xml",
    icon: "material-symbols:rss-feed",
    label: "Subscribe to RSS feed",
  },
];
---

<footer
  id="site-footer"
  class="mx-auto mt-8 flex max-w-xl flex-col gap-4 border-t p-4 sm:mt-16 sm:flex-row sm:justify-between sm:gap-8"
>
  <ul id="footer-toolbar" class="flex gap-4 sm:flex-row">
    <li>
      <ScrollToTop />
    </li>
    <li>
      <ThemeBtn />
    </li>
  </ul>
  <ul class="flex items-center gap-4">
    {
      socialLinks.map((item) => (
        <li>
          <a
            href={item.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label=`{item.label} (opens in a new tab)`
          >
            <Icon name={item.icon} height={18} width={18} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
