---
import Head from "~/layouts/Head.astro";

type Props = {
  description?: string;
  entry?: any;
  title?: string;
};

const { description, entry, title } = Astro.props;
---

<!doctype html>
<html>
  <Head description={description} entry={entry} title={title} />

  <body>
    <main id="main">
      <slot />
    </main>
  </body>
</html>
