---
import type { DataEntryMap } from "astro:content";
import Head from "~/layouts/Head.astro";
import Header from "~/components/common/Header.astro";
import Footer from "~/components/common/Footer.astro";
import NoiseOverlay from "~/components/animations/NoiseOverlay.astro";
import { siteConfig } from "~/site.config";

type Props = {
  description: string;
  entry?: DataEntryMap[keyof DataEntryMap][string];
  title: string;
};

const { description, entry, title } = Astro.props;
---

<!doctype html>
<html lang={siteConfig.language}>
  <Head description={description} entry={entry} title={title} />

  <body class="relative min-h-screen bg-white font-mono text-black dark:bg-black dark:text-white">
    <Header />
    <main id="main" class="mx-auto max-w-xl px-4">
      <slot />
    </main>
    <Footer />
    <NoiseOverlay />
  </body>
</html>
