---
import { Icon } from "astro-icon/components";
---

<div
  class="fixed bottom-2 right-2 z-50 w-16 hidden"
  data-back-to-top
>
  <button
    title="scroll to top"
    aria-label="scroll to top"
    data-back-to-top-btn
    class="flex items-center p-4 rounded-xl w-full bg-neutral-600/75 hover:bg-neutral-600 hover:shadow-sm focus:bg-pink-300 focus:text-black focus:border-black cursor-pointer transition duration-300"
  >
    <Icon name="ri:arrow-up-line" height={32} width={32} />
  </button>
</div>

<script>
  // @ts-nocheck
  window.addEventListener('DOMContentLoaded', () => {
    const buttonContainer = document.querySelector('[data-back-to-top]');
    const button = document.querySelector('[data-back-to-top-btn]');

    function toggleBackToTopVisibility() {
      const scrollPosition = window.scrollY;
      const pageHeight = document.documentElement.scrollHeight - window.innerHeight;
      if (scrollPosition > (pageHeight / 2)) {
        buttonContainer?.classList.remove('hidden');
      } else {
        buttonContainer?.classList.add('hidden');
      }
    }

    window.addEventListener('scroll', toggleBackToTopVisibility);

    button?.addEventListener('click', () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });
  });
</script>
