---
import { Icon } from 'astro-icon/components';
---

<div id="scroll-to-top" class="fixed bottom-2 right-2 z-50 w-16 opacity-0 transition duration-300">
  <button
    title="scroll to top"
    aria-label="scroll to top"
    id="scroll-to-top-btn"
    type="button"
    class="flex items-center p-4 rounded-xl w-full bg-neutral-600/75 hover:bg-neutral-600 hover:shadow-sm focus:bg-pink-300 focus:text-black focus:border-black cursor-pointer transition duration-300"
  >
    <Icon name="ri:arrow-up-line" height={32} width={32} />
  </button>
</div>

<script>
  // @ts-nocheck
  window.addEventListener('DOMContentLoaded', () => {
    const buttonContainer = document.getElementById('scroll-to-top');
    const button = document.getElementById('scroll-to-top-btn');

    function updateScrollToTop() {
      const scrollPosition = window.scrollY;
      if (scrollPosition > (2 * window.innerHeight)) {
        buttonContainer?.classList.remove('opacity-0');
      } else {
        buttonContainer?.classList.add('opacity-0');
      }
    }

    window.addEventListener('scroll', updateScrollToTop);

    updateScrollToTop();

    button?.addEventListener('click', () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });
  });
</script>
