---
import { Icon } from 'astro-icon/components';
---

<div
  id="search-modal"
  tabindex="-1"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
  class="hidden"
>
  
  <div class="z-45 fixed bg-black/50 w-full transition duration-300" id="search-overlay"></div>

  <div class="z-50 relative h-full md:h-fit w-screen md:max-w-[640px] flex flex-col gap-4 px-4 pt-16 md:p-8 md:mx-4 md:rounded-xl bg-neutral-900">

    <div class="flex justify-between items-center">
      <span class="text-lg font-medium">Search this site</span>

      <button
        class="border-b-2 border-transparent rounded-md p-2 focus:bg-pink-300 focus:text-black focus:border-black hover:backdrop-invert hover:text-neutral-900 cursor-pointer transition duration-300"
        aria-label="close search"
        aria-pressed="false"
        id="search-close-btn"
      >
        <Icon name="ri:close-line" height={24} width={24} />
      </button>
    </div>

    <div id="search" class="w-full"></div>

  </div>
</div>

<script>
  // @ts-nocheck
  window.addEventListener('DOMContentLoaded', () => {

    new PagefindUI({
      element: "#search",
      debounceTimeoutMs: 500,
      showEmptyFilters: false,
      excerptLength: 15,
      showImages: false,
      addStyles: false,
      processResult: function (result) {
        result.url = result.url.replace(/\/$/, "");
        return result;
      }
    });

    const modal = document.getElementById('search-modal');
    const toggleBtn = document.getElementById('search-toggle-btn');
    const closeBtn = document.getElementById('search-close-btn');
    const overlay = document.getElementById('search-overlay');
    let searchOpen = false;

    const trapFocus = (element) => {
      const handleKeyDown = (e) => {
        if (e.key !== 'Tab') return;
        // check this list
        const focusableSelectors = [
          'a[href]',
          'area[href]',
          'input:not([disabled]):not([type="hidden"])',
          'select:not([disabled])',
          'textarea:not([disabled])',
          'button:not([disabled])',
          'iframe',
          'object',
          'embed',
          '[contenteditable]',
          '[tabindex]:not([tabindex="-1"])'
        ];

        const focusableElements = Array.from(element.querySelectorAll(focusableSelectors.join(',')));
        if (focusableElements.length === 0) return;

        const firstFocusable = focusableElements[0];
        const lastFocusable = focusableElements[focusableElements.length - 1];

        if (e.shiftKey) {
          if (document.activeElement === firstFocusable) {
            e.preventDefault();
            lastFocusable.focus();
          }
        } else {
          if (document.activeElement === lastFocusable) {
            e.preventDefault();
            firstFocusable.focus();
          }
        }
      };
      element.addEventListener('keydown', handleKeyDown);

      return () => element.removeEventListener('keydown', handleKeyDown);
    };

    const updateModal = () => {
      if (searchOpen) {
        modal?.classList.remove('hidden');
        modal?.classList.add('z-50', 'fixed', 'md:inset-0', 'top-0', 'left-0', 'right-0', 'h-full', 'w-full', 'flex', 'justify-center', 'md:items-center', 'bg-black/50');
        modal?.setAttribute('aria-hidden', 'false');
        toggleBtn?.setAttribute('aria-pressed', 'true');
        trapFocus(modal);
        updateBodyScrollLock();

        setTimeout(() => {
          const searchInput = modal.querySelector('.pagefind-ui__search-input');
          if (searchInput) {
            searchInput.focus();
          } else {
            modal.focus();
          }
        }, 0);

      } else {
        modal?.classList.add('hidden');
        modal?.classList.remove('z-50', 'fixed', 'md:inset-0', 'top-0', 'left-0', 'right-0', 'h-full', 'w-full', 'flex', 'justify-center', 'md:items-center', 'bg-black/50');
        modal?.setAttribute('aria-hidden', 'true');
        toggleBtn?.setAttribute('aria-pressed', 'false');
        toggleBtn?.focus();
        updateBodyScrollLock();
      }
    }

    const updateBodyScrollLock = () => {
      document.body.classList.toggle('h-full', searchOpen);
      document.body.classList.toggle('overflow-hidden', searchOpen);
    };
  
    toggleBtn?.addEventListener('click', () => {
      searchOpen = !searchOpen;
      updateModal();
    });
  
    closeBtn?.addEventListener('click', () => {
      searchOpen = false;
      updateModal();
    });
  
    overlay?.addEventListener('click', () => {
      searchOpen = false;
      updateModal();
    });
  
    document.addEventListener('keydown', (e) => {
      if (e.key === 'Escape') {
        searchOpen = false;
        updateModal();
      }
    });
  });
</script>

<style is:global>
  @reference "~/styles/global.css";

  .pagefind-ui__form {
    @apply flex flex-col gap-y-2;
  }

  .pagefind-ui__search-input {
    @apply border-2 border-neutral-900 focus:border-black rounded-md text-black placeholder:italic;
  }

  .pagefind-ui__search-clear {
    @apply w-fit ml-2 border-b-2 border-transparent hover:border-neutral-50 focus:border-black focus:bg-pink-300 focus:text-black text-sm cursor-pointer;
  }

  .pagefind-ui__message {
    @apply font-semibold;
  }

  .pagefind-ui__drawer {
    @apply max-h-[calc(100vh-256px)] md:max-h-96 overflow-y-auto px-2;
  }

  .pagefind-ui__result {
    @apply border-b-2 border-neutral-600 my-4;
  }

  .pagefind-ui__result mark {
    @apply bg-pink-300;
  }

  .pagefind-ui__result-link {
    @apply font-semibold hover:underline underline-offset-4 focus:p-1 focus:bg-pink-300 focus:text-black;
  }

  .pagefind-ui__result-title {
    @apply mb-2;
  }

  .pagefind-ui__result-inner {
    @apply my-2;
  }

  .pagefind-ui__button {
    @apply flex justify-center items-center p-2 px-4 mr-auto border-2 border-transparent rounded-md focus:bg-pink-300 focus:text-black focus:border-black bg-black hover:bg-transparent hover:border-neutral-50 text-neutral-50 transition duration-300 cursor-pointer;
  }
</style>
