---
import type { HTMLAttributes } from 'astro/types';
import { slugify } from '~/utils/collections';

interface Props extends HTMLAttributes<'ul'> {
  tags: string[],
  permalink: string
};

const { permalink, tags }: Props = Astro.props;
---

<ul class="flex flex-wrap gap-3 px-1 text-sm" aria-label="list of tags">
  {tags.map((tag) =>
    <li>
      <a
        class="p-1 font-medium border-b-2 border-transparent hover:border-neutral-50 focus:bg-pink-300 focus:text-black focus:border-black focus:rounded-md transition duration-300"
        href={`${Astro.site}${permalink}/${slugify(tag)}`}
      >
        #{tag.toLowerCase()}
      </a>
    </li>
  )}
</ul>
